/* Stylesheet */
body {
	background: url("../../../Downloads/Midterm-Refresher-B-master/img/bg.png");
}

p, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	text-transform: uppercase; 
}

li {
  float: left;
  line-height: 50px;
  list-style: none;
	margin: 0 5px;
  text-align: right;
}

a {
  color: #fff;
  display: block;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px 0 0;
  width: 150px;
}

#google a:hover {
  background: url("../../../Downloads/Midterm-Refresher-B-master/img/chrome.png") no-repeat 30px center;
}

#mozilla a:hover {
  background: url("../../../Downloads/Midterm-Refresher-B-master/img/firefox.png") no-repeat 30px center;
}

#apple a:hover {
  background: url("../../../Downloads/Midterm-Refresher-B-master/img/safari.png") no-repeat 30px center;
}

#opera a:hover {
  background: url("../../../Downloads/Midterm-Refresher-B-master/img/opera.png") no-repeat 30px center;
}

#microsoft a:hover {
  background: url("../../../Downloads/Midterm-Refresher-B-master/img/ie.png") no-repeat 30px center;
}

.showgrid {
	background: url("../../../Downloads/Midterm-Refresher-B-master/img/12-col-grid.gif") !important;
}